programming_trainer/C# Aufgaben Generator.json
{
  "name": "C# Aufgaben Generator",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "generate-task",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "99c25b25-6dbf-4f27-b2f6-db7aca9dbda2",
      "name": "Webhook - Task Request",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "webhookId": "8ab2b5e3-4da0-4e6e-be9d-79647e6f0766"
    },
    {
      "parameters": {
        "functionCode": "// Input-Validierung und Vorbereitung\nconst body = $input.item.json.body;\n\nif (!body.topic || !body.studentId) {\n  throw new Error('Fehlende Parameter: topic und studentId erforderlich');\n}\n\nconst topic = body.topic;\nconst difficulty = body.difficulty || 'mittel';\nconst studentId = body.studentId;\nconst includeTestCases = body.includeTestCases !== false;\n\n// Prompt für AI vorbereiten\nconst systemPrompt = `Du bist ein erfahrener C# Dozent und Softwareentwickler. \nDeine Aufgabe ist es, präzise und lehrreiche Programmieraufgaben für Studenten zu erstellen.\nDie Aufgaben sollen praxisnah sein und Best Practices vermitteln.`;\n\nconst userPrompt = `Erstelle eine C# Programmieraufgabe zum Thema: \"${topic}\"\n\nSchwierigkeitsgrad: ${difficulty}\n\nDie Aufgabe soll folgende Struktur haben:\n1. Titel (kurz und prägnant)\n2. Beschreibung (Was soll programmiert werden?)\n3. Anforderungen (Liste mit mindestens 5 konkreten Anforderungen)\n4. ${includeTestCases ? 'Testfälle (mindestens 3 Beispiel-Inputs mit erwarteten Outputs)' : ''}\n5. Hinweise (optionale Tipps für die Umsetzung)\n6. Lernziele (Was lernt der Student?)\n\nFormat: JSON mit dieser Struktur:\n{\n  \"title\": \"...\",\n  \"description\": \"...\",\n  \"requirements\": [\"...\"],\n  \"testCases\": [{\"input\": \"...\", \"expectedOutput\": \"...\"}],\n  \"hints\": [\"...\"],\n  \"learningGoals\": [\"...\"]\n}`;\n\nreturn {\n  json: {\n    studentId,\n    topic,\n    difficulty,\n    systemPrompt,\n    userPrompt,\n    timestamp: new Date().toISOString()\n  }\n};"
      },
      "id": "0062dabf-33b1-43de-8e3b-2bf8d242ffd6",
      "name": "Request Validierung",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        208,
        0
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "CHATGPT-4O-LATEST"
        },
        "messages": {
          "values": [
            {}
          ]
        },
        "options": {}
      },
      "id": "ba83278a-ee96-461a-a911-cbb1844e2742",
      "name": "OpenAI - Aufgabe generieren",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1,
      "position": [
        352,
        0
      ],
      "credentials": {
        "openAiApi": {
          "id": "iMe6LlMtPdK2T4G0",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "// AI Response verarbeiten und strukturieren\nconst aiResponse = $input.item.json.choices[0].message.content;\nconst taskData = JSON.parse(aiResponse);\nconst studentId = $('Request Validierung').item.json.studentId;\nconst topic = $('Request Validierung').item.json.topic;\nconst difficulty = $('Request Validierung').item.json.difficulty;\n\n// Vollständige Aufgaben-Struktur\nconst task = {\n  id: `task-${Date.now()}`,\n  studentId: studentId,\n  topic: topic,\n  difficulty: difficulty,\n  title: taskData.title,\n  description: taskData.description,\n  requirements: taskData.requirements,\n  testCases: taskData.testCases || [],\n  hints: taskData.hints || [],\n  learningGoals: taskData.learningGoals || [],\n  createdAt: new Date().toISOString(),\n  status: 'open'\n};\n\nreturn {\n  json: task\n};"
      },
      "id": "592c22b6-2f48-4a82-bd73-0602e4801213",
      "name": "Response Formatierung",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        608,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5000/api/tasks",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "=",
              "value": "={{ $json }}"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "cd5aaae9-a92a-4452-8f8c-754e217529ec",
      "name": "In Backend speichern",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        800,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "b8102f4f-6ce6-443e-8729-5b3d20932339",
      "name": "Response senden",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1008,
        0
      ]
    },
    {
      "parameters": {
        "functionCode": "// Error Handling\nconst error = $input.item.json.error;\n\nreturn {\n  json: {\n    success: false,\n    error: error?.message || 'Unbekannter Fehler',\n    timestamp: new Date().toISOString()\n  }\n};"
      },
      "id": "5e3723e8-a497-4654-a08d-a589ffcd7b73",
      "name": "Error Handler",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        800,
        208
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 500
        }
      },
      "id": "dafac708-faea-4333-91a9-42cd9e6baca3",
      "name": "Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1008,
        208
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook - Task Request": {
      "main": [
        [
          {
            "node": "Request Validierung",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Request Validierung": {
      "main": [
        [
          {
            "node": "OpenAI - Aufgabe generieren",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI - Aufgabe generieren": {
      "main": [
        [
          {
            "node": "Response Formatierung",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Response Formatierung": {
      "main": [
        [
          {
            "node": "In Backend speichern",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "In Backend speichern": {
      "main": [
        [
          {
            "node": "Response senden",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Handler": {
      "main": [
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "14996f37-3a26-42f8-b077-078cc563261a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "92c9315242e78b4ff1b6d73d40cb26ee343c7a5564c1b7e43d894967ebb556a2"
  },
  "id": "IkfTaPy5jnnN79Vr",
  "tags": []
}